.teamText {
  font-size: 14px;
  color: black;
  text-anchor: middle;
}

.leftName {
  font-size: 14px;
  color: black;
  text-align: right;
}

.mainTitle {
  font-size: 42px;
  text-align: left;
  font-weight: bold;
}

.dimmed {
  opacity: 0.25;
}

.bumpLine {
  stroke-width: 4px;
}

.toolTip {
  background-color: white;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid;
}

.bolden {
  font-weight: bold;
}

.x {
  font-size: 12px;
}

.regSel, .legRect {
  fill: White;
  stroke: black;
}

.regText {
  fill: black;
  stroke: none;
  font-size: 20px;
}

.deduct {
  stroke-dasharray: 10,2;
}

.legLine {
  stroke: black;
  stroke-width: 8px;
}

.legText {
  color: black;
  font-size: 12px;
}

.moreTopN {
  display: none;
}