#bump-chart rect {
  fill: lightblue;
  width: 970px;
  height: 400px;
}

#line-graph rect {
  fill: pink;
  width: 970px;
  height: 250px;
}

#bump-chart, #line-graph {
  padding-left: 15px;
}

#main {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-around;
  width: 100vw;
}

#graphs {
  width: 65vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#gen-info {
  width: 35vw;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

#btns > button {
  height: 65px;
  width: 220px;
  margin-left: 15px;
  margin-right: 15px;
}

#evnt-table {
  background-color: lightgreen;
}

#table {
  width: 470px;
  height: 400px;
}

#information {
  background-color: orange;
  width: 470px;
  height: 125px;
}